.row-add-material{
    position: relative!important;
}
.add-material{
    position: absolute!important;
    bottom: -43px!important;
}
#add-material{
    position: absolute!important;
    bottom: -40px!important;
}

.inline-block{
    display: inline-block;
}
.select2-container .select2-selection--single {
    height: auto!important;
}    
.select2-container--default .select2-selection--single{
    border-radius: 0!important;  
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #00A65A!important;
    border-color: #00A65A!important;
}


.skin-green .main-header .logo {
    background-color: #ffd700!important; 
}
.skin-green .main-header .logo:hover {
    background-color: #fec802!important;
}

/*@media print*/
/*{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}*/
